* {
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

tr {
  font-weight: bold;
  font-size: 1.2em;
  border-color: black;
  border-width: thin;
  border-style: solid;
  background-color: #DDDDDD;
}

td {
  font-weight: normal;
  font-size: 1em;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

tbody:nth-child(2n) {
  background-color: #EEEEEE;
}

table {
  padding: 0.2em;
  border-color: black;
  border-width: thin;
  border-style: solid;
  margin: auto;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row-1 {height: 8.33vh;}
.row-2 {height: 16.66vh;}
.row-3 {height: 25vh;}
.row-4 {height: 33.33vh;}
.row-5 {height: 41.66vh;}
.row-6 {height: 50vh;}
.row-7 {height: 58.33vh;}
.row-8 {height: 66.66vh;}
.row-9 {height: 75vh;}
.row-10 {height: 83.33vh;}
.row-11 {height: 91.66vh;}
.row-12 {height: 100vh;}
[class*="row-"] {
    float: left;
    padding: 0;
}

.bordered {
  border: 1px solid black;
  border-bottom: 0;
  border-right: 0;
  height: 100%;
  padding: 0;
}

.centered {
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.padded {
  padding-top: 0.5em;
}

.relative {
  position: relative;
}

.vert-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient {
  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, lightblue 75%,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, lightblue 75%,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, lightblue 75%,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, lightblue 75%,white); /* Standard syntax */
}
